<!doctype html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acadia Robotics Portal</title>
  <meta name="description" content="Acadia Robotics Portal">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/ui-select/dist/select.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
  <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/app/stylesheets/style.css">
  
  <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-loader/angular-loader.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-foundation/mm-foundation.js"></script>
  <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
  <script src="bower_components/ui-select/dist/select.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/ng-table/dist/ng-table.js"></script>
  <script src="bower_components/foundation/js/vendor/jquery.js"></script>
  <script src="bower_components/foundation/js/foundation.js"></script>

</head>
<body ng-app="myApp">

<!--   <nav class="menu" ng-controller="topbar_controller" >
    <a ng-class="getActive('/home')" href="#/home"><h1 class="name"><i class="fi-widget"></i> IX Dashboard</h1></a>
    <ul class="inline-list">
      <li ng-class="getActive('/users')"><a href="#/users">Users</a></li>
      <li ng-class="getActive('/locations')"><a href="#/locations">Locations</a></li>
      <li ng-class="getActive('/agents')"><a href="#/agents">Agents</a></li>
      <li ng-class="getActive('/devices')"><a href="#/devices">Devices</a></li>
    </ul>
    <ul class="inline-list hide-for-small-only account-action">
      <li ng-class="getActive('/login')" ng-if="logged_in()" ng-click="log_out()">
          <a href="#/logout">Logout</a>
      </li>
      <li ng-class="getActive('/logout')" ng-if="!logged_in()">
          <a href="#/login">Login</a>
      </li>
    </ul>
  </nav> -->


<div ng-view ></div>



  <script src="/app/app.js"></script>


<!--   // <script src="/app/js/controllers/topbar_ctrl.js"></script>
  // <script src="/app/js/controllers/login_ctrl.js"></script>
  // <script src="/app/js/controllers/home_ctrl.js"></script>
  // <script src="/app/js/controllers/users_ctrl.js"></script>
  // <script src="/app/js/controllers/location_ctrl.js"></script>
  // <script src="/app/js/controllers/agent_ctrl.js"></script>
  // <script src="/app/js/controllers/device_ctrl.js"></script>
  // <script src="/app/js/services/login_serv.js"></script>
  // <script src="/app/js/directives/popup_model_dir.js"></script>
  // <script src="/app/js/directives/confirmation_delete.js"></script> -->
  <script type="text/javascript"> 
    $(document).foundation();
</script>

</body>
</html>