<!doctype html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acadia Robotics Portal</title>
  <meta name="description" content="Acadia Robotics Portal">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/ui-select/dist/select.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
  <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/app/stylesheets/style.css">
  <link href="bower_components/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />


  <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-loader/angular-loader.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-foundation/mm-foundation.js"></script>
  <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
  <script src="bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>
  <script src="bower_components/ui-select/dist/select.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/ng-table/dist/ng-table.js"></script>
  <script src="bower_components/foundation/js/vendor/jquery.js"></script>
  <script src="bower_components/foundation/js/foundation.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>


</head>
<body ng-app="myApp" ng-controller="login_controller">
<nav class="menu" ng-controller="topbar_controller" >
  <a ng-class="getActive('/home')" href="#/home"><h1 class="name">Acadia Robotics Portal</h1></a>
  <ul class="inline-list">
    <li ng-class="getActive('/seasons')"><a href="#/seasons" ng-if='isAdmin()'>Seasons</a></li>
    <li ng-class="getActive('/competitions')"><a href="#/competitions" ng-if='isAdmin()'>Competitions</a></li>
    <li ng-class="getActive('/qualifiers')"><a href="#/qualifiers" ng-if='isAdmin()'>Qualifiers</a></li>
    <li ng-class="getActive('/teams')"><a href="#/teams">Teams</a></li>
    <li ng-class="getActive('/users')"><a href="#/users"ng-if='isAdmin()'>Users</a></li>
  </ul>
  <ul class="inline-list hide-for-small-only account-action">
    <li ng-class="getActive('/profile')" ng-if="logged_in()">
        <a href="#/profile">Profile</a>
    </li>
    <li ng-class="getActive('/login')" ng-if="logged_in()" ng-click="log_out()">
        <a href="#/logout">Logout</a>
    </li>
    <li ng-class="getActive('/login')" ng-if="!logged_in()">
        <a href="#/login">Login</a>
    </li>
    <li ng-class="getActive('/signup')" ng-if="!logged_in()">
        <a href="#/signup">Signup</a>
    </li>
  </ul>
</nav>


<div ng-view ></div>

<script src="/app/app.js"></script>
<script src="/app/js/controllers/topbarCtrl.js"></script>
<script src="/app/js/controllers/loginCtrl.js"></script>
<script src="/app/js/controllers/seasonsCtrl.js"></script>
<script src="/app/js/controllers/competitionsCtrl.js"></script>
<script src="/app/js/controllers/qualifiersCtrl.js"></script>
<script src="/app/js/controllers/teamsCtrl.js"></script>
<script src="/app/js/controllers/homeCtrl.js"></script>
<script src="/app/js/controllers/usersCtrl.js"></script>
<script src="/app/js/controllers/profileCtrl.js"></script>
<script src="/app/js/services/data.js"></script>
<script src="/app/js/directives/confirmation_needed.js"></script>


<script type="text/javascript"> 
    $(document).foundation();
</script>

</body>
</html>