<!doctype html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acadia Robotics Portal</title>
  <meta name="description" content="Acadia Robotics Portal">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/ui-select/dist/select.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
  <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="app/stylesheets/style.css">
  <link href="bower_components/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />


  <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-loader/angular-loader.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-foundation/mm-foundation.js"></script>
  <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
  <script src="bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>
  <script src="bower_components/ui-select/dist/select.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/ng-table/dist/ng-table.js"></script>
  <script src="bower_components/foundation/js/vendor/jquery.js"></script>
  <script src="bower_components/foundation/js/foundation.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
  <script src="bower_components/jquery.maskedinput.js"></script>

  <script type="text/javascript">
$(document).ready(function(){
   $("#phone").mask("(999) 999-9999? x99999");


});

  </script>

</head>
<body ng-app="myApp" ng-controller="login_controller">
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<nav class="top-bar" data-topbar role="navigation" ng-controller="topbar_controller">
  <ul class="title-area">
    
    <div class="logo">
      <!-- <a href="/"> -->
        <img src="app/images/logo.png">
        <div class="title-head">Acadia Robotics</div>
        <div class="title-sub">Computer Programming . Problem Solving . Teamwork</div>
      <!-- </a> -->
    </div>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->  
    <ul class="left">
      <li><a ng-class="getActive('/home')" href="#/home">Home</a></li>
      <li class="divider"></li>
      <li ng-class="getActive('/signup')" ng-if="!logged_in()">
          <a href="#/signup">Coaches Signup</a>
      </li>
      <li ng-class="getActive('/volunteer_signup')" ng-if="!logged_in()">
          <a href="#/volunteers_signup">Volunteers Signup</a>
      </li>
      <li ng-class="getActive('/seasons')"><a href="#/seasons" ng-if='isAdmin()'>Seasons</a></li>
      <li ng-class="getActive('/competitions')"><a href="#/competitions" ng-if='isAdmin()'>Competitions</a></li>
      <li ng-class="getActive('/qualifiers')"><a href="#/qualifiers" ng-if='isAdmin() || isQualAdmin()'>Qualifiers</a></li>
      <li ng-class="getActive('/teams')" ng-if="logged_in()"><a href="#/teams">Teams</a></li>
      <li ng-class="getActive('/members')" ng-if="logged_in()"><a href="#/members">Members</a></li>
      <li ng-class="getActive('/volunteers')" ng-if="isAdmin()"><a href="#/volunteers">Volunteers</a></li>
      <li ng-class="getActive('/users')"><a href="#/users"ng-if='isAdmin()'>Users</a></li>

    </ul>
    <ul class="right">
      <li ng-class="getActive('/profile')" ng-if="logged_in()">
          <a href="#/profile">Profile</a>
      </li>
      <li ng-class="getActive('/login')" ng-if="logged_in()" ng-click="log_out()">
          <a href="#/home">Logout</a>
      </li>
      <li ng-class="getActive('/login')" ng-if="!logged_in()">
          <a href="#/login">Login</a>
      </li>
      
    </ul>
    <ul class="social-icons">
      <a href=""><i class="fi-telephone"></i></a>
      <a href=""><i class="fi-social-linkedin"></i></a>
      <a href=""><i class="fi-social-twitter"></i></a>
      <a href=""><i class="fi-social-facebook"></i></a>
    </ul>
    
  </section>
</nav>

<div data-alert ng-show="succeeded" class="alert-box success radius">
  SUCCESS !
  <a href="#" class="close">&times;</a>
</div>

<div data-alert ng-show="failed" class="alert-box alert round">
  FAILED
  <a href="#" class="close">&times;</a>
</div>

<div ng-view></div>

<script src="app/app.js"></script>
<script src="app/js/controllers/topbarCtrl.js"></script>
<script src="app/js/controllers/loginCtrl.js"></script>
<script src="app/js/controllers/seasonsCtrl.js"></script>
<script src="app/js/controllers/competitionsCtrl.js"></script>
<script src="app/js/controllers/qualifiersCtrl.js"></script>
<script src="app/js/controllers/volunteersCtrl.js"></script>
<script src="app/js/controllers/volunteersSignupCtrl.js"></script>
<script src="app/js/controllers/teamsCtrl.js"></script>
<script src="app/js/controllers/homeCtrl.js"></script>
<script src="app/js/controllers/usersCtrl.js"></script>
<script src="app/js/controllers/profileCtrl.js"></script>
<script src="app/js/controllers/memberCtrl.js"></script>
<script src="app/js/controllers/passwordCtrl.js"></script>
<script src="app/js/services/data.js"></script>
<script src="app/js/services/download.js"></script>
<script src="app/js/directives/confirmation_needed.js"></script>

 <footer class="footer" >
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">3...2...1...LEGO!</p>
      <p class="links">
        <a href="#/home">Home</a>
        <a target="_blank" href="http://robots.acadiau.ca/contact-us.html">Contact</a>
      </p>
    </div>
  </div>
  </footer>

<script type="text/javascript"> 
    $(document).foundation();
    $(window).bind("load", function () {
        var footer = $(".footer");
        var pos = footer.position();
        var height = $(window).height();
        height = height - pos.top;
        height = height - footer.height();
        height = height + 100;
        if (height > 0) {
            footer.css({
                'margin-top': height + 'px'
            });
        }
    });
</script>



</body>
</html>