<fieldset>
  <form name="coach_survey_form">
    <h3>Coach/Mentor Survey</h3>
    <div class="row">
      <div class="small-4 column">
        <label>Survey Year: <em>Change only if nessesary</em></label>
        <input type="text" ng-model="coach_survey.year" value="{{year}}" />
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>I was a coach for: </label>
        <input type="radio" ng-model="coach_survey.affiliation" value="robofest" >
        ROBOFEST
        <input type="radio" ng-model="coach_survey.affiliation" value="first">
        FIRST LEGO League
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>Years as Coach: </label>
        <input type="radio" ng-model="coach_survey.paricipation_years" value="1" >
        First
        <input type="radio" ng-model="coach_survey.paricipation_years" value="2" >
        Second
        <input type="radio" ng-model="coach_survey.paricipation_years" value="3" >
        Third
        <input type="radio" ng-model="coach_survey.paricipation_years" value="4" >
        Fourth
        <input type="radio" ng-model="coach_survey.paricipation_years" value="more than 4" >
        More than 4 Years
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>I heard about the competitions from: </label>
        <fieldset>
          <input type="radio" ng-model="coach_survey.heard_from" value="radio" >
          Radio
          <input type="radio" ng-model="coach_survey.heard_from" value="newspaper">
          Newspaper
          <input type="radio" ng-model="coach_survey.heard_from" value="school">
          School
          <input type="radio" ng-model="coach_survey.heard_from" value="friend">
          Friend<br/>
          Other: <input type="text" ng-model="coach_survey.heard_from" />
        </fieldset>
      </div>
    </div>

    <div class="row">
      <table>
        <tr>
          <td><b>Please select the appropriate button:</b></td>
          <td><b>Strongly<br>Agree</b></td>
          <td><b>Agree</b></td>
          <td><b>Neutral</b></td>
          <td><b>Disagree</b></td>
          <td><b>Strongly<br>Disagree</b></td>

        </tr>
        <tr ng-repeat="field in coachChoiceFields">
          <td>{{ field.name }}</td>
          <td><input type="radio" ng-model="coach_survey[field.key]" value="5" ></td>
          <td><input type="radio" ng-model="coach_survey[field.key]" value="4"></td>
          <td><input type="radio" ng-model="coach_survey[field.key]" value="3"></td>
          <td><input type="radio" ng-model="coach_survey[field.key]" value="2"></td>
          <td><input type="radio" ng-model="coach_survey[field.key]" value="1"></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>List what you most liked about the competition:</label>
        <textarea type='text' col='40' row='2' ng-model="coach_survey.most_liked"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>General Comments: (write on back, if needed)</label>
        <textarea type='text' col='40' row='2' ng-model="coach_survey.comments"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="small-8 column">
      </div>
      <div class="small-4 column">
        <button class="button postfix" ng-click="saveSurvey('coach_survey')">Save Survey</button>
      </div>

    </div>
  </form>
</fieldset>