<div class='row'>
            <button class="tiny round button alert" ng-click='openCompetition()' >New Competition</button></td>

<div class='large-12 large-centered columns'>

    <table ng-table="compTableParams" class="table" show-filter="true">
        <tr ng-repeat="comp in $data">
            <td title="'Year'" filter="{ year: 'text'}" sortable="'year'">
                <input type="text" ng-model='comp.season_year' name='year' readonly></input></small>
            </td>
            <td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
                <ui-select ng-model="comp.status" theme="select2" ng-disabled="disabled" style="min-width: 250px;" name="status" required>
                  <ui-select-match placeholder="Status ">{{$select.selected.type || comp.status}}</ui-select-match>
                  <ui-select-choices repeat="option in options | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{option.type}}
                  </ui-select-choices>
                </ui-select></input>
            </td>
              <td title="'Capacity'" filter="{ capacity: 'number'}" sortable="'capacity'">
                <input type="number" ng-model='comp.capacity' ></input>
            </td>  

            </td>
              <td title="'Date'" filter="{ time: 'text'}" sortable="'time'">
                <datepicker date-format="longDate">
                   <input name="compTime" ng-model="comp.time" type="text" required/>
                </datepicker></input>
            </td>         

            </td>
              <td title="'Profile Info'">
                <button class="tiny round button" ng-click="openProfile(comp)"/>Edit</button>
                <!--MODAL WINDOW--> 
          


          <script type="text/ng-template" id="profile.html">
              <div class="modal-body">
                  <fieldset>
                  <legend>Edit Profile for Comp {{ compEdit.competition_id }}</legend>
        <form name='editComp'>
        <div class="row">
            <div class="small-3 column">
                <label>Name: <small ng-messages="editComp.name.$error"><b ng-message="required" class="error">Required</b></small></label>
                    <input type="text" name="name" ng-model="compEdit.name" required />
            </div>
          <div class="small-3 column">
            <label>Civic Address: <small ng-messages="editComp.compCivic.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="compCivic" ng-model="compEdit.civic_number" required />
          </div>

          <div class="small-3 column">
            <label>Street Address: <small ng-messages="editComp.compStreet1.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="compStreet1" ng-model="compEdit.street1" required/>
          </div>

          <div class="small-3 column">
            <label>Street Address:
            <input type="text" name="compStreet2" ng-model="compEdit.street2"/>
          </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>City: <small ng-messages="editComp.compCity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="compCity" ng-model="compEdit.city" required />
          </div>

          <div class="small-4 column">
            <label>Province: <small ng-messages="editComp.compProvince.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="compProvince" ng-model="compEdit.province" required/>
          </div>

          <div class="small-4 column">
            <label>Postal Code: <small ng-messages="editComp.compPostalCode.$error"><b ng-message="required" class="error">Required</b>
                                                                                   </small></label>
            <input type="text" name="compPostalCode" ng-model="compEdit.postal_code"/ required>
          </div>
        </div>

        <div class="row">


          <div class="small-6 column">
            <label>Phone: <small ng-messages="editComp.compPhone.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="compPhone" ng-model="compEdit.phone" required/>
          </div>

          <div class="small-6 column">
            <label>Capacity: <small ng-messages="editComp.compCapacity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="compCapacity" ng-model="compEdit.capacity"/ required>
          </div>
        </div>

        </form>                  <hr>
                              <button class="tiny round button success" ng-click='updateComp(compEdit)'>Save</button>
                            </fieldset>
                      </div>
                    </script>

            </td>


            <td title="'Edit'">
                <button class="tiny round button success" ng-click='updateComp(comp)'>Save</button></td>
            <td title="'Delete'">
                <button class="tiny round button alert" ng-click='deleteComp(comp)' confirmation-needed>Delete</button></td>
        </tr>
    </table>
</div>
</div>

<!--MODAL WINDOW--> 
<script type="text/ng-template" id="newComp.html">

<div class="row">
  
<form name="newComp" ng-controller='seasons_controller'> 
      <fieldset>
        <legend>Create Competition</legend>
        <div class="row">
{{seasons}}
          <div class="small-4 column">
             <label>Year: <small ng-messages="newComp.year.$error"><b ng-message="required" class="error">Required</b></small></label>
              <ui-select ng-model="comp.season_year" theme="select2" ng-disabled="disabled" style="min-width: 250px;" name="year" required>
                  <ui-select-match placeholder="Year">{{$select.selected.year}}</ui-select-match>
                  <ui-select-choices repeat="season in seasons | propsFilter: {year: $select.search}">
                    <div ng-bind-html="year | highlight: $select.search"></div>
                      {{season.year}}
                  </ui-select-choices>
                </ui-select>
          </div>

            <div class="small-4 column">

              <label>Status: <small ng-messages="newComp.status.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="comp.status" theme="select2" ng-disabled="disabled" style="min-width: 250px;" name="status" required>
                  <ui-select-match placeholder="Status">{{$select.selected.type}}</ui-select-match>
                  <ui-select-choices repeat="option in options | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{option.type}}
                  </ui-select-choices>
                </ui-select>
            </div>

            <div class="small-4 column">
                <label>Name: <small ng-messages="newComp.name.$error"><b ng-message="required" class="error">Required</b></small></label>
                    <input type="text" name="name" ng-model="comp.name" required />
            </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>Civic Address: <small ng-messages="newComp.compCivic.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="compCivic" ng-model="comp.civic_number" required />
          </div>

          <div class="small-4 column">
            <label>Street Address: <small ng-messages="newComp.compStreet1.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="compStreet1" ng-model="comp.street1" required/>
          </div>

          <div class="small-4 column">
            <label>Street Address:
            <input type="text" name="compStreet2" ng-model="comp.street2"/>
          </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>City: <small ng-messages="newComp.compCity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="compCity" ng-model="comp.city" required />
          </div>

          <div class="small-4 column">
            <label>Province: <small ng-messages="newComp.compProvince.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="compProvince" ng-model="comp.province" required/>
          </div>

          <div class="small-4 column">
            <label>Postal Code: <small ng-messages="newComp.compPostalCode.$error"><b ng-message="required" class="error">Required</b>
                                                                                   </small></label>
            <input type="text" name="compPostalCode" ng-model="comp.postal_code"/ required>
          </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>Time: <small ng-messages="newComp.compTime.$error"><b ng-message="required" class="error">Required</b></small></label>
             <datepicker date-format="longDate">
               <input name="compTime" ng-model="comp.time" type="text" required/>
            </datepicker>
          </div>

          <div class="small-4 column">
            <label>Phone: <small ng-messages="newComp.compPhone.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="compPhone" ng-model="comp.phone" required/>
          </div>

          <div class="small-4 column">
            <label>Capacity: <small ng-messages="newComp.compCapacity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="compCapacity" ng-model="comp.capacity"/ required>
          </div>
        </div>
<hr>

        <div class="row" >
          <alert ng-if="comp_status.show_alert" type="comp_status.alert_type" class="text-center">{{comp_status.message}}</alert>
        </div>

        <div class="row">
          <div class="small-8 small-centered column">
            <button class="button postfix" ng-click="createComp(comp)" ng-disabled="newComp.$invalid">Create</button>
          </div>

        </div>
      </fieldset>
    </form>
  </div>
</div>

</script>