<div class='row'>
    <form name="newPassword" ng-controller='password_controller'> 
          <fieldset>
            <legend>Enter your email: </legend>
            <div class="row">
              <div class="small-7 column">
                <label>Email: <small ng-messages="newPassword.userEmail.$error"><b ng-message="required" class="error">Required</b>
                <input type="email" name="userEmail" ng-model="user.email_address" required/>
              </div>
              </div>
            <div class="row">

             <div class="small-2 column">
                    <button class="button postfix success" ng-click="reset(user)" ng-disabled="newPassword.$invalid">Reset</button>
              </div>


            </div>
        </fieldset>
    </form>
</div>