<div class="row" id="content-divider-large"></div>
<div class="row">
  <div class="large-12 large-centered columns">
    <h2>Welcome {{getCookieData().first_name || "to the Acadia Robotics Registration Portal" }} </h2>
  </div>
</div>
<div class="row">
  <div class="small-8  columns">
    <div class="panel callout radius">
      <h5>Registration Is Now Open</h5>
    </div>
  </div>
</div>

<!-- Second Band (Image Left with Text) -->

<div class="row">
  <div class="large-4 columns">
    <h5 style="color:red">FLL Registration Information</h5>

    <p>Registration will be open for the Acadia Championship after the qualifying events for FLL have taken place</p>
  </div>
  <div class="large-4 columns">
    <h5 style="color:red">FLL Qualifiers Information</h5>
        <p>Deadline for Qualified teams to register for Acadia Championship is <b>DECEMBER 4th, 2015</b>.</p>
        <p><b>FOR ALL QUALIFYING TEAMS</b> - things to have ready before Acadia Championship: <a href="http://robots.acadiau.ca/fll-registration.html" target="_blank">HERE</a></p>
      </div>
  <div class="large-4 columns">
        <h5 style="color:red">Robofest Registration Information</h5>
        <p>Acadia is partnering with Robofest on the Game Competition only - the winning team will have the opportunity to move on to Robofest in Michigan.<br>
        Acadia's Competition date is Saturday, February 13, 2016<br>
        The Acadia Sumo competition is modelled on the same set of rules as Robofest JUNIOR Competition.<br>
        The Acadia High School Robot Competition DOES NOT include Exhibition, BottleZone, Vision Centric Challenge, RoboParade, Global Robotic Arts Festival, or Unknown Mission Challenge, but if teams would like more information on any of those they can visit <a href="http://robofest.net" > www.robofest.net</a>.</p>
        
      </div>
    </div>
</div>
<div class="row" id="content-divider-large"></div>
<div class="row" id="content-divider-large"></div>
<div class="row" id="content-divider-large"></div>
