<div class="large-3 column large-centered">
  <h3 >Welcome to Acadia Robotics</h3>
</div>
<div class="row" ng-controller="login_controller">
  
  <div class="medium-3 medium-centered columns">
    <form>
      <fieldset>
        <legend>Sign In</legend>
        <div class="row">
          <div class="small-12 column">
            <label>E-Mail Address <i class="error" ng-show="emailError">Required!</i>
              <input type="text" ng-model="user.email">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">

            <label>Password <i class="error" ng-show="passwordError">Required!</i>
              <input type="password" ng-model="user.password">
            </label>
          </div>
        </div>
        <div class="row" >
          <alert ng-if="login_status.show_alert" type="login_status.alert_type" class="text-center">{{login_status.message}}</alert>
        </div>
        <div class="row">
          <div class="small-8 column">
            <button class="button postfix" ng-click="login()" ng-disabled="disabled">Sign In</button>
          </div>

        </div>
        <div class='row'>
          <small class='tiny round button alert' ng-click="forgotPassword()">Forgot password?</small>
        </div>
      </fieldset>
    </form>
  </div>
</div>
