<div class="large-3 column large-centered">
  <h3 >Welcome to Acadia Robotics</h3>
</div>
<div class="row" ng-controller="login_controller">
  
  <div class="medium-8 medium-centered columns">
    <form>
      <fieldset>
        <legend>Sign In</legend>
            <label>E-Mail Address <i class="error" ng-show="emailError">Required!</i></label>
        <div class="row collapse">
          <div class="small-2 column">
            <span class="prefix"><i class="fi-mail"></i></span>
          </div>
          <div class="small-10 column">
              <input type="text" ng-model="user.email">
            
          </div>
        </div>
            
            <label>Password <i class="error" ng-show="passwordError">Required!</i></label> 
        <div class="row collapse">
          <div class="small-2 column">

          <span class="prefix"><i class="fi-lock"></i></span>
          </div>
          <div class="small-10 column">

              <input type="password" ng-model="user.password" />
          </div>
        </div>
        <div class="row" >
          <alert ng-if="login_status.show_alert" type="login_status.alert_type" class="text-center">{{login_status.message}}</alert>
        </div>
        <div class="row collapse">
          <div class="small-4 column">
            <button class="button postfix" ng-click="login()" ng-disabled="disabled">Sign In</button>
          </div>
          <div class='small-4 column'>
            <small class='button alert postfix' ng-click="forgotPassword()">Forgot password?</small>
          </div>
        </div>
        
      </fieldset>
    </form>
  </div>
</div>
