<h1>Profile</h1>
{{getCookieData()}}
<hr>
<div class='row'>

<div class='large-12 large-centered columns'>

    <table ng-table="userTableParams" class="table" show-filter="true">
        <tr ng-repeat="user in $data">
            <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                <input type="email" ng-model='user.email' readonly></input>
            </td>
            <td title="'Admin'" filter="{ admin: 'text'}" sortable="'admin'">
                <input type="radio" name="userAdmin" value="Super" ng-model="user.admin" required>Super 
                <input type="radio" name="userAdmin" value="Qualifier" ng-model="user.admin" required>Qual
                <input type="radio" name="userAdmin" value="Not Admin" ng-model="user.admin" required>None
            </td>
            
            <td title="'Profile Info'">
                <button class="tiny round button" ng-click="openProfile(user)"/>Edit</button>
                <!--MODAL WINDOW--> 
          


          <script type="text/ng-template" id="profile.html">
              <div class="modal-body">
                  <fieldset>
                  <legend>Edit Profile for {{ userEdit.first_name }}</legend>
        <form name='editUser'>
        <div class="row">
            <div class="small-3 column">
                <label>Name: <small ng-messages="editUser.name.$error"><b ng-message="required" class="error">Required</b></small></label>
                    <input type="text" name="name" ng-model="userEdit.name" required />
            </div>
          <div class="small-3 column">
            <label>Civic Address: <small ng-messages="editUser.userCivic.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="userCivic" ng-model="userEdit.civic_number" required />
          </div>

          <div class="small-3 column">
            <label>Street Address: <small ng-messages="editUser.userStreet1.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="userStreet1" ng-model="userEdit.street1" required/>
          </div>

          <div class="small-3 column">
            <label>Street Address:
            <input type="text" name="userStreet2" ng-model="userEdit.street2"/>
          </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>City: <small ng-messages="editUser.userCity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="userCity" ng-model="userEdit.city" required />
          </div>

          <div class="small-4 column">
            <label>Province: <small ng-messages="editUser.userProvince.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="userProvince" ng-model="userEdit.province" required/>
          </div>

          <div class="small-4 column">
            <label>Postal Code: <small ng-messages="editUser.userPostalCode.$error"><b ng-message="required" class="error">Required</b>
                                                                                   </small></label>
            <input type="text" name="userPostalCode" ng-model="userEdit.postal_code"/ required>
          </div>
        </div>

        <div class="row">


          <div class="small-6 column">
            <label>Phone: <small ng-messages="editUser.userPhone.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="userPhone" ng-model="userEdit.phone" required/>
          </div>

<!--           <div class="small-6 column">
            <label>Capacity: <small ng-messages="editUser.userCapacity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="userCapacity" ng-model="userEdit.capacity"/ required>
          </div> -->
        </div>

        </form>                  <hr>
                              <button class="tiny round button success" ng-click='updateUser(userEdit)'>Save</button>
                            </fieldset>
                      </div>
                    </script>

            </td>

            <td title="'Edit'">
                <button class="tiny round button success" ng-click='updateUser(user)'>Edit</button></td>
        </tr>
    </table>
  </div>
</div>