<div class='row'> <fieldset>
  <legend> Manage Qualifiers </legend>
  <div class='large-2 large-offset-10 columns'>
    <button class="tiny round button alert" ng-click='openQual()' ng-if="isAdmin()">New Qualifier</button></td>
 </div>

  <div class='large-12 columns'>
    <table ng-table="qualTableParams" class="table" show-filter="true">
        <tr ng-repeat="qual in $data">
            <td title="'Year'" filter="{ year: 'text'}" sortable="'year'"  style="min-width: 150px;">
                <input type="text" ng-model='qual.season_year' readonly></input>
            </td>
            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" style="min-width: 150px;">
                <input type="text" ng-model='qual.name' ></input>
            </td>
            <td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
                <ui-select ng-model="qual.status" theme="select2" ng-disabled="disabled" style="min-width: 150px;" name="status" required>
                  <ui-select-match placeholder="Status ">{{$select.selected.type || qual.status}}</ui-select-match>
                  <ui-select-choices repeat="option in options | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{option.type}}
                  </ui-select-choices>
                </input>
            </td>
              <td title="'Capacity'" filter="{ capacity: 'number'}" sortable="'capacity'">
                <input type="number" ng-model='qual.capacity' ></input>
            </td>  

            </td>
              <!-- <td title="'Date'" filter="{ time: 'text'}" sortable="'time'"  style="min-width: 200px;">
                  <datepicker date-format="longDate">
                   <input name="qualTime" ng-model="qual.time" type="text" required/>
                </datepicker>
                </input>
            </td>    -->      
              <td title="'Admins'" ng-if="isAdmin()">
                <button class="tiny round button" ng-click="openAdmins(qual)" style="min-width: 120px;"/>Manage Qualifier Admins</button>



                </input>
            </td> 

            </td>
              <td title="'Profile Info'">
                <button class="tiny round button" ng-click="openProfile(qual)" style="min-width: 100px;"/>Edit Qualifier </button>
                <!--MODAL WINDOW--> 
                    <script type="text/ng-template" id="profile.html">
                        <div class="modal-body">

                            <fieldset>
                            <legend>Edit Profile for Comp {{ qualEdit.qualifier_id }}</legend>



        <form name='editQual'>
        <div class="row">
            <div class="small-3 column">
                <label>Name: <small ng-messages="editQual.name.$error"><b ng-message="required" class="error">Required</b></small></label>
                    <input type="text" name="name" ng-model="qualEdit.name" required />
            </div>
          <div class="small-3 column">
            <label>Civic Address: <small ng-messages="editQual.qualCivic.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="qualCivic" ng-model="qualEdit.civic_number" required />
          </div>

          <div class="small-3 column">
            <label>Street Address: <small ng-messages="editQual.qualStreet1.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="qualStreet1" ng-model="qualEdit.street1" required/>
          </div>

          <div class="small-3 column">
            <label>Street Address:
            <input type="text" name="qualStreet2" ng-model="qualEdit.street2"/>
          </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>City: <small ng-messages="editQual.qualCity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="qualCity" ng-model="qualEdit.city" required />
          </div>

          <div class="small-4 column">
            <label>Province: <small ng-messages="editQual.qualProvince.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="qualEdit.province" theme="select2" ng-disabled="disabled" style="min-width: 200px;" name="qualProvince" required>
                  <ui-select-match placeholder="Select a province...">{{$select.selected.type || qualEdit.province}}</ui-select-match>
                  <ui-select-choices repeat="province in provinces | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{province.type}}
                  </ui-select-choices>
                </ui-select>
          </div>

          <div class="small-4 column">
            <label>Postal Code: <small ng-messages="editQual.qualPostalCode.$error"><b ng-message="required" class="error">Required</b><b ng-message="pattern" class="error">Please enter a valid postal code</b></small><input type="text" name="qualPostalCode" ng-model="qualEdit.postal_code"  ng-pattern="/^([a-zA-Z]\d[a-zA-Z] *\d[a-zA-Z]\d)$/" required>
          </div>
        </div>

        <div class="row">


          <div class="small-6 column">
            <label>Phone: <small ng-messages="editQual.qualPhone.$error"><b ng-message="required" class="error">Required</b><b ng-message="pattern" class="error">Please only enter a valid phone number</b></small></label>
            <input type="number" name="qualPhone" ng-model="qualEdit.phone" required/ ng-pattern='phoneNumberPattern'>
          </div>

          <div class="small-6 column">
            <label>Capacity: <small ng-messages="editQual.qualCapacity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="qualCapacity" ng-model="qualEdit.capacity"/ required>
          </div>

        </div>
         <div class="small-6 column">
            <label>Date: <small ng-messages="editQual.qualDate.$error"><b ng-message="required" class="error">Required</b></small></label>
            <datepicker date-format="longDate">
            <input type="text" name="qualDate" ng-model="qualEdit.time"/ required>

                </datepicker>
          </div>

        <form>                  <hr>
                              <button class="button success postfix" ng-click='updateQual(qualEdit)'>Save</button>
                            </fieldset>
                      </div>
                    </script>

            </td>



            <td title="'Edit'">
                <button class="tiny round button success" ng-click='updateQual(qual)'>Save</button></td>
            <td title="'Delete'" ng-if="isAdmin()">
                <button class="tiny round button alert" ng-click='deleteQual(qual)' confirmation-needed>Delete</button></td>
        </tr>
    </table>
</div>
</fieldset>
</div>

<!--MODAL WINDOW--> 
<script type="text/ng-template" id="newQual.html">

<div class="row" ng-controller='competitions_controller'>
  
<form name="newQual" ng-controller='seasons_controller'> 
      <fieldset>
        <legend>Create Qualifier</legend>
        <div class="row">
          <div class="small-6 column">
             <label>Year and Competition: <small ng-messages="newQual.year.$error"><b ng-message="required" class="error">Required</b></small></label>
              <ui-select ng-change='setYearNComp($select.selected.season_year, $select.selected.competition_id)' ng-model="temp" theme="select2" ng-disabled="disabled" style="min-width: 450px;" name="year" required>
                  <ui-select-match placeholder="Select a competition"><b>Year:</b> {{$select.selected.season_year}}  <b>Name:</b> {{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="competition in competitions | open">
                    <div ng-bind-html="competiton.season_year | highlight: $select.search"></div>
                      <b>Year:</b> {{competition.season_year}} <b>Name:</b> {{competition.name}}<hr>
                  </ui-select-choices>
                </ui-select>
          </div>

            <div class="small-3 column">

              <label>Status: <small ng-messages="newQual.status.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="qual.status" theme="select2" ng-disabled="disabled" style="min-width: 175px;" name="status" required>
                  <ui-select-match placeholder="Status">{{$select.selected.type}}</ui-select-match>
                  <ui-select-choices repeat="option in options | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{option.type}}
                  </ui-select-choices>
                </ui-select>
            </div>

            <div class="small-3 column">
                <label>Name: <small ng-messages="newQual.name.$error"><b ng-message="required" class="error">Required</b></small></label>
                    <input type="text" name="name" ng-model="qual.name" required />
            </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>Civic Address: <small ng-messages="newQual.qualCivic.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="qualCivic" ng-model="qual.civic_number" required />
          </div>

          <div class="small-4 column">
            <label>Street Address: <small ng-messages="newQual.qualStreet1.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="qualStreet1" ng-model="qual.street1" required/>
          </div>

          <div class="small-4 column">
            <label>Street Address:
            <input type="text" name="qualStreet2" ng-model="qual.street2"/>
          </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>City: <small ng-messages="newQual.qualCity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="qualCity" ng-model="qual.city" required />
          </div>

          <div class="small-4 column">
            <label>Province: <small ng-messages="newQual.qualProvince.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="qual.province" theme="select2" ng-disabled="disabled" style="min-width: 200px;" name="qualProvince" required>
                  <ui-select-match placeholder="Select a province...">{{$select.selected.type || qual.province}}</ui-select-match>
                  <ui-select-choices repeat="province in provinces | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{province.type}}
                  </ui-select-choices>
                </ui-select>

          </div>

          <div class="small-4 column">
            <label>Postal Code: <small ng-messages="newQual.qualPostalCode.$error"><b ng-message="required" class="error">Required</b><b ng-message="pattern" class="error">Please enter a valid postal code</b></small></label>
            <input type="text" name="qualPostalCode" ng-model="qual.postal_code"/ required ng-pattern="/^([a-zA-Z]\d[a-zA-Z] *\d[a-zA-Z]\d)$/">
          </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>Time: <small ng-messages="newQual.qualTime.$error"><b ng-message="required" class="error">Required</b></small></label>
             <datepicker date-format="longDate">
               <input name="qualTime" ng-model="qual.time" type="text" required/>
            </datepicker>
          </div>

          <div class="small-4 column">
            <label>Phone: <small ng-messages="newQual.qualPhone.$error"><b ng-message="required" class="error">Required</b><b ng-message="pattern" class="error">Please only enter a valid phone number</b></small></label>
            <input type="number" name="qualPhone" ng-model="qual.phone" required ng-pattern='phoneNumberPattern'/>
          </div>

          <div class="small-4 column">
            <label>Capacity: <small ng-messages="newQual.qualCapacity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="qualCapacity" ng-model="qual.capacity"/ required>
          </div>
        </div>
<hr>

        <div class="row">
          <div class="small-8 small-centered column">
            <button class="button success postfix" ng-click="createQual(qual)" ng-disabled="newQual.$invalid">Create</button>
          </div>

        </div>
      </fieldset>
    </form>
  </div>
</div>

</script>


<!--MODAL WINDOW--> 
<script type="text/ng-template" id="admin.html">

<div class="row">

<form name="editQualAdmin" ng-controller='users_controller'> 
    <fieldset>
      <legend>Add Admin to qualifier</legend>
      <div class="row">

        <div class="small-8 column">
           <label>Qualifier Admin: <small ng-messages="editQualAdmin.qual.$error"><b ng-message="required" class="error">Required</b></small></label>
            <ui-select ng-change='setQualAdmin($select.selected)' ng-model="temp" theme="select2" ng-disabled="disabled" style="min-width: 500px;" name="year" ng-required>
                <ui-select-match placeholder="Select a qualifier admin"><b>Name:</b> {{$select.selected.first_name}} {{$select.selected.last_name}} <b>Email:</b> {{$select.selected.email}}</ui-select-match>
                <ui-select-choices repeat="user in users | filterQualAdmin">
                  <div ng-bind-html="user"></div>
                    <b>Name:</b> {{user.first_name}} {{user.last_name}} <b>Email:</b> {{user.email}}<hr>
                </ui-select-choices>
              </ui-select>
        </div>
      </div><br>

      <div class="row">

        <div class="small-4 column">
          <button class="button success postfix" ng-click="addQualAdmin(q, adminForQual)">Add</button>
        </div>
      </div>
    </fieldset>
  </form>
<form name="deleteQuals"> 

<fieldset>
<legend>Qualifier Admins:</legend>

  <table ng-table="qualPartTableParams" class="table" show-filter="true">
      <tr ng-repeat="admin in $data">
          <td title="'First Name'">
              <input type="text" ng-model='admin.first_name' readonly></input>    
          </td>

          <td title="'Last Name'">
              <input type="text" ng-model='admin.last_name' readonly></input>    
          </td>
          
          <td title="'Email'">
              <input type="text" ng-model='admin.email' readonly></input>    
          </td>
         
          <td title="'Delete'">
              <button class="tiny round button alert" ng-click='deleteAdminPart(q, admin)' confirmation-needed>Delete</button></td>
      </tr>
  </table>

</fieldset>
</form>

</div>

</script>

