<div class='row'>
    <form name="newPassword" ng-controller='password_controller'> 
          <fieldset>
            <legend>Reset Password</legend>
            <div class="row">
              <div class="small-5 column">
                <label>New Password: <small ng-messages="newPassword.userPassword.$error"><b ng-message="required" class="error">Required</b>
                <b ng-message="minlength" class="error">Password must be >= 10 characters</b>
                <b ng-message="maxlength" class="error">Password must be <= 100 characters</b></small></label>
                <input type="password" name="userPassword" ng-model="user.password" required ng-minlength="10" ng-maxlength="100"/>
              </div>


              <div class="small-5 column">
                <label>New Password Confirm: <small ng-messages="newPassword.verifyNewPass.$error"><b class="error">Required</b>
                <b ng-if="matchError" class="error">Passwords do not match</b></small></label>
                <input type="password" name="verifyNewPass" ng-model="user.verifyNewPass" required ng-change='match(user, verifyNewPass)'/>
              </div>

<!--               <div class="small-4 column">
            <label>Password Confirm: <small ng-messages="newPassword.confirmPassword.$error"><b ng-message="required" class="error">Required</b> <b ng-if="matchError" class="error">Passwords do not match</b></small></label>
            <input type="password" name="confirmPassword" ng-model="confirmPassword" required ng-change='match(user, confirmPassword)'/>
          </div> -->
              </div>
            <div class="row">

             <div class="small-2 column">
                    <button class="button postfix success" ng-click="resetLink(user)" ng-disabled="newPassword.$invalid">Reset</button>
              </div>


            </div>
        </fieldset>
    </form>
</div>