


<div class='row' style="min-width: 80%"> <fieldset>
    <legend> Manage Seasons </legend>
  <div class='large-2 large-offset-10 columns'>
    <button class="tiny round button alert" ng-click='openSeason()' >New Season</button>
  </div>
  <div class='large-12 columns'>
    <table ng-table="tableParams" class="table" show-filter="true">
      <tr ng-repeat="season in $data">
        <td title="'Year'" filter="{ year: 'text'}" sortable="'year'">
            <input type="text" ng-model='season.year' readonly></input>
        </td>
        <td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
            <ui-select ng-model="season.status" theme="select2" ng-disabled="disabled" style="min-width: 250px;" name="status" required>
              <ui-select-match placeholder="Status ">{{$select.selected.type || season.status}}</ui-select-match>
              <ui-select-choices repeat="option in options | propsFilter: {type: $select.search}">
                <div ng-bind-html="type | highlight: $select.search"></div>
                  {{option.type}}
              </ui-select-choices>
            </input>
        </td>
        
        <td title="'Info'" filter="{ info: 'text'}" sortable="'info'">
            <input type="text" ng-model='season.info' ></input>    
        </td>

        <td title="'Edit'">
            <button class="tiny round button success" ng-click='updateSeason(season)'>Save</button></td>
        <td title="'Delete'">
            <button class="tiny round button alert" ng-click='deleteSeason(season)' confirmation-needed>Delete</button></td>
      </tr>
    </table>
    <div class='row'>
    <div class='large-2 large-offset-10 columns'>
      <button class="tiny round button alert" ng-click='downloadSeasons()' ng-if="isAdmin()">Download List</button></td>
    </div>
  </div>
  </div>
</fieldset>
</div>

<!--MODAL WINDOW--> 
<script type="text/ng-template" id="newSeason.html">

<div class="row">
  
<form name="newSeason"> 
      <fieldset>
        <legend>Create Season</legend>
        <div class="row">

          <div class="medium-6 column">
             <label>Year: <small ng-messages="newSeason.year.$error"><b ng-message="required" class="error">Required</b></small></label>
              <ui-select ng-model="season.year" theme="select2" ng-disabled="disabled" style="min-width: 250px;" name="year" required>
                  <ui-select-match placeholder="Year">{{$select.selected.type}}</ui-select-match>
                  <ui-select-choices repeat="year in years | propsFilter: {type: $select.search}" >
                    <div ng-bind-html="type | highlight: $select.search" ng-if='isSeason(year.type)'></div>
                      {{year.type}}
                  </ui-select-choices>
                </ui-select>
          </div>

            <div class="medium-6 column">

              <label>Status: <small ng-messages="newSeason.status.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="season.status" theme="select2" ng-disabled="disabled" style="min-width: 250px;" name="status" required>
                  <ui-select-match placeholder="Status">{{$select.selected.type}}</ui-select-match>
                  <ui-select-choices repeat="option in options | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{option.type}}
                  </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class='row'>
            <div class="small-12 column">

              <label>Info: </lable>
                <textarea rows='5' cols='50' ng-model='season.info'></textarea>

            </div>

        </div>
<hr>
        <div class="row">
          <div class="small-8 small-centered column">
            <button class="button success postfix" ng-click="createSeason(season)" ng-disabled='newSeason.$invalid'>Create</button>
          </div>

        </div>
      </fieldset>
    </form>
  </div>
</div>

</script>