<fieldset>
  <form name="student_survey_form">
    <h3>Student Survey</h3>
    <div class="row">
      <div class="small-4 column">
        <label>Survey Year: <em>Change only if nessesary</em></label>
        <input type="text" ng-model="student_survey.year" value="{{year}}" />
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>This year, I participated in: </label>
        <input type="radio" ng-model="student_survey.affiliation" value="robofest" >
        ROBOFEST
        <input type="radio" ng-model="student_survey.affiliation" value="first">
        FIRST LEGO League
      </div>
    </div>
    <div class="row">
      <div class="small-4 column">
        <label>Number of years participating in Robotics: </label>
        <input type="text" ng-model="student_survey.paricipation_years" />
      </div>
    </div>

    <div class="row">
      <div class="small-4 column">
        <label>My gender is: </label>
        <input type="text" ng-model="student_survey.gender" />
      </div>
    </div>

    <div class="row">
      <div class="small-6 column">
        <label>Where did you find info about Robotics Competitions? (Circle as many that apply): </label>
        <input type="text" ng-model="student_survey.heard_from" />
      </div>
    </div>

    <div class="row">
      <div class="small-6 column">
        <label>What can we change on the Acadia Robotics Webpage (http://robots.acadiau.ca) to make it better?</label>
        <textarea type='text' col='40' row='2' ng-model="student_survey.changes_to_website"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="small-10 column">
        <table>
          <tr>
            <td><b>Please select the appropriate button:</b></td>
            <td><b>Strongly<br>Agree</b></td>
            <td><b>Agree</b></td>
            <td><b>Neutral</b></td>
            <td><b>Disagree</b></td>
            <td><b>Strongly<br>Disagree</b></td>

          </tr>
          <tr ng-repeat="field in studentChoiceFields">
            <td>{{ field.name }}</td>
            <td><input type="radio" ng-model="student_survey[field.key]" value="5" ></td>
            <td><input type="radio" ng-model="student_survey[field.key]" value="4"></td>
            <td><input type="radio" ng-model="student_survey[field.key]" value="3"></td>
            <td><input type="radio" ng-model="student_survey[field.key]" value="2"></td>
            <td><input type="radio" ng-model="student_survey[field.key]" value="1"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>List what you most liked about the competition:</label>
        <textarea type='text' col='40' row='2' ng-model="student_survey.most_liked"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="small-6 column">
        <label>General Comments: (write on back, if needed)</label>
        <textarea type='text' col='40' row='2' ng-model="student_survey.comments"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="small-8 column">
      </div>
      <div class="small-4 column">
        <button class="button postfix" ng-click="saveSurvey('student_survey')">Save Survey</button>
      </div>

    </div>
  </form>
</fieldset>