<div class='row'>
            <button class="tiny round button alert" ng-click='openTeams()' >New Team</button></td>

<div class='large-10 large-centered columns'>
<i class="success" ng-show="succeeded">Saved!</i>
<i class="failure" ng-show="failed">Failed!</i>
    <table ng-table="teamTableParams" class="table" show-filter="true">
        <tr ng-repeat="team in $data">
            <td title="'Team ID'" filter="{ team_id: 'text'}" sortable="'team_id'">
                <input type="text" ng-model='team.team_id' readonly></input>
            </td>
            <td title="'Local ID'" filter="{ local_id: 'text'}" sortable="'local_id'">
                <input type="text" ng-model='team.local_id' ></input>
            </td>
            
            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                <input type="text" ng-model='team.name' ></input>    
            </td>
            <td title="'Organization'" filter="{ organization: 'text'}" sortable="'organization'">
                <input type="text" ng-model='team.organization' ></input>    
            </td>
            <td title="'Approved'" filter="{ approved: 'text'}" sortable="'approved'">
                <input type="radio" name="{{team.team_id}}" ng-model='team.approved' value='1'>Yes 
                <input type="radio" name="{{team.team_id}}" ng-model='team.approved' value='0'>No    
            </td>

            <td title="'Qualifiers'">
                <button class="tiny round button success" ng-click='updateTeamQual(team)'>Edit</button></td>
            <td title="'Coaches'">
                <button class="tiny round button success" ng-click='updateTeamCoach(team)'>Edit</button></td>
<!--             <td title="'Delete'">
                <button class="tiny round button alert" ng-click='deleteTeam(team)' confirmation-needed>Delete</button></td> -->
        </tr>
    </table>
  </div>
</div>

<!--MODAL WINDOW--> 
<script type="text/ng-template" id="newTeam.html">

<div class="row">
  
<form name="newTeam"> 
      <fieldset>
        <legend>Create Team</legend>
        <div class="row">

          <div class="medium-6 column">
             <label>Team ID: <small ng-messages="newTeam.team_id.$error"><b ng-message="required" class="error">Required</b></small></label>
              <input type="text" ng-model='team.team_id' required></input>

          </div>

            <div class="medium-6 column">
             <label>Local ID: <small ng-messages="newTeam.local_id.$error"><b ng-message="required" class="error">Required</b></small></label>
              <input type="text" ng-model='team.local_id' required></input>
            </div>
        </div>

        <div class="row">

          <div class="medium-4 column">
             <label>Name: <small ng-messages="newTeam.name.$error"><b ng-message="required" class="error">Required</b></small></label>
              <input type="text" ng-model='team.name' required></input>

          </div>

            <div class="medium-4 column">
             <label>Organization: <small ng-messages="newTeam.organization.$error"><b ng-message="required" class="error">Required</b></small></label>
              <input type="text" ng-model='team.organization' required></input>
            </div>
            
            <div class="small-12 column">

              <label>Approved: </lable>
               <input type="radio" name="approved" ng-model='team.approved' value='1'>Yes 
                <input type="radio" name="approved" ng-model='team.approved' value='0'>No 
            </div>

        </div>
<hr>
        <div class="row">
          <div class="small-8 small-centered column">
            <button class="button postfix" ng-click="createTeam(team)" ng-disabled='newTeam.$invalid'>Create</button>
          </div>

        </div>
      </fieldset>
    </form>
  </div>
</div>

</script>

<!--MODAL WINDOW--> 
<script type="text/ng-template" id="teamQuals.html">

<div class="row">

<form name="editTeamQual" ng-controller='qualifiers_controller'> 
    <fieldset>
      <legend>Add Team to qualifier</legend>
      <div class="row">

        <div class="small-8 column">
           <label>Event: <small ng-messages="editTeamQual.qual.$error"><b ng-message="required" class="error">Required</b></small></label>
            <ui-select ng-change='setQual($select.selected)' ng-model="temp" theme="select2" ng-disabled="disabled" style="min-width: 500px;" name="year" ng-required>
                <ui-select-match placeholder="Select a qualifier"><b>Year:</b> {{$select.selected.season_year}} <b>Competition ID:</b> {{$select.selected.competition_id}} 
                                                                      <b>Qual ID:</b> {{$select.selected.qual_id}}</ui-select-match>
                <ui-select-choices repeat="qualifier in qualifiers | propsFilter: {season_year: $select.search}">
                  <div ng-bind-html="qualifier.season_year | highlight: $select.search"></div>
                    <b>Year:</b> {{qualifier.season_year}} <b>Competition ID:</b> {{qualifier.competition_id}} <b>Qual ID:</b> {{qualifier.qual_id}}<hr>
                </ui-select-choices>
              </ui-select>
        </div>


        <div class="small-4 column">
          <button class="button postfix" ng-click="addTeamQual(t, qualForTeam)" ng-disabled='newTeam.$invalid'>Add</button>
        </div>
      </div>
    </fieldset>
  </form>
<form name="deleteQuals"> 

<fieldset>
<legend>Participating In:</legend>

  <table ng-table="teamPartTableParams" class="table" show-filter="true">
      <tr ng-repeat="team in $data">
          <td title="'Season'">
              <input type="text" ng-model='team.season_year' ></input>    
          </td>

          <td title="'Competition ID'">
              <input type="text" ng-model='team.competition_id' readonly></input>
          </td>
          
          <td title="'Qual ID'">
              <input type="text" ng-model='team.qual_id' readonly></input>    
          </td>
          <td title="'Team ID'">
              <input type="text" ng-model='team.team_id' readonly></input>
          </td>
          <td title="'Delete'">
              <button class="tiny round button alert" ng-click='deleteTeamPart(team)' confirmation-needed>Delete</button></td>
      </tr>
  </table>

</fieldset>
</form>

</div>

</script>

<!--MODAL WINDOW--> 
<script type="text/ng-template" id="teamCoach.html">

<div class="row">
  
<form name="editTeamCoach" ng-controller='users_controller'> 
      <fieldset>
        <legend>Add Coach to team</legend>
        <div class="row">

          <div class="small-8 column">
             <label>Users: <small ng-messages="editTeamCoach.user.$error"><b ng-message="required" class="error">Required</b></small></label>
              <ui-select ng-change='setCoach($select.selected)' ng-model="temp" theme="select2" ng-disabled="disabled" style="min-width: 500px;" name="year" ng-required>
                  <ui-select-match placeholder="Select a user"><b>Email:</b> {{$select.selected.email}} <b>First Name:</b> {{$select.selected.first_name}} 
                                                                        <b>Last Name:</b> {{$select.selected.last_name}}</ui-select-match>
                  <ui-select-choices repeat="user in users | propsFilter: {email: $select.search}">
                    <div ng-bind-html="user | highlight: $select.search"></div>
                      <b>Email:</b> {{user.email}} <b>First Name:</b> {{user.first_name}} <b>Last Name:</b> {{user.last_name}}<hr>
                  </ui-select-choices>
                </ui-select>
          </div>


          <div class="small-4 column">
            <button class="button postfix" ng-click="addTeamCoach(t, coachForTeam)" ng-disabled='newTeam.$invalid'>Add</button>
          </div>
        </div>
      </fieldset>
    </form>
<form name="deleteCoaches"> 

<fieldset>
<legend>Coaches:</legend>

    <table ng-table="teamCoachTableParams" class="table" show-filter="true">
        <tr ng-repeat="coach in $data">
            <td title="'User ID'">
                <input type="text" ng-model='coach.user_id' ></input>    
            </td>

            <td title="'Delete'">
                <button class="tiny round button alert" ng-click='deleteTeamCoach(coach)' confirmation-needed>Delete</button></td>
        </tr>
    </table>

</fieldset>
</form>

</div>

</script>