<div class='row'>
            <button class="tiny round button alert" ng-click='openUser()' >New User</button></td>

<div class='large-8 large-centered columns'>
    <table ng-table="userTableParams" class="table" show-filter="true">
        <tr ng-repeat="user in $data">
            <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                <input type="email" ng-model='user.email' readonly></input>
            </td>
            <td title="'First Name'" filter="{ first_name: 'text'}" sortable="'first_name'">
                            <input type="text" ng-model='user.first_name' readonly></input>
            </td>
            <td title="'Last Name'" filter="{ last_name: 'text'}" sortable="'last_name'">
                    <input type="text" ng-model='user.last_name' readonly></input>
            </td>
<!--             <td title="'Position'" filter="{ position: 'text'}" sortable="'position'">
                <ui-select ng-model="user.position" theme="select2" ng-disabled="disabled" style="min-width: 250px;" name="position" required>
                  <ui-select-match placeholder="Status ">{{$select.selected.type || user.position}}</ui-select-match>
                  <ui-select-choices repeat="position in positions | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{position.type}}
                  </ui-select-choices>
                </input>
            </td> -->
            
            <td title="'Profile Info'">
                <button class="tiny round button" ng-click="openProfile(user)"/>Edit</button>
                <!--MODAL WINDOW--> 
          


          <script type="text/ng-template" id="profile.html">
              <div class="modal-body">
                  <fieldset>
                  <legend>Edit Profile for {{ userEdit.first_name }}</legend>
 
<form name="editUser"> 
        <div class="row">

          <div class="small-3 column">
             <label>First Name: <small ng-messages="newUser.userFirstName.$error"><b ng-message="required" class="error">Required</b></small></label>
              <input type="text" name="userFirstName" ng-model="userEdit.first_name" required />
          </div>

          <div class="small-3 column">
            <label>Last Name: <small ng-messages="newUser.userLastName.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="userLastName" ng-model="userEdit.last_name" required />
          </div>

          <div class="small-3 column">
            <label>Email: <small ng-messages="newUser.userEmail.$error"><b ng-message="required" class="error">Required</b> 
                                                                        <b ng-message="email" class="error">Email is not valid</b></small></label>
            <input type="email" name="userEmail" ng-model="userEdit.email" required readonly/>
          </div>

          <div class="small-3 column">
            <label>DOB: <small ng-messages="newUser.userDOB.$error"><b ng-message="required" class="error">Please select a DOB</b></small></label>
            <datepicker date-format="longDate">
               <input name="userDOB" ng-model="userEdit.dob" type="text" required readonly/>
            </datepicker>
          </div>

        </div>

        <div class="row">
          <div class="small-4 column">
            <label>Civic Address: <small ng-messages="newUser.userCivic.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="number" name="userCivic" ng-model="userEdit.civic_number" required />
          </div>

          <div class="small-4 column">
            <label>Street Address: <small ng-messages="newUser.userStreet1.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="userStreet1" ng-model="userEdit.street1" required/>
          </div>

          <div class="small-4 column">
            <label>Street Address:
            <input type="text" name="userStreet2" ng-model="userEdit.street2"/>
          </div>
        </div>

        <div class="row">
          <div class="small-4 column">
            <label>City: <small ng-messages="newUser.userCity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="userCity" ng-model="userEdit.city" required />
          </div>

          <div class="small-4 column">
            <label>Province: <small ng-messages="newUser.userProvince.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="userEdit.province" theme="select2" ng-disabled="disabled" style="min-width: 200px;" name="userProvince" required>
                  <ui-select-match placeholder="Select a province...">{{$select.selected.type || userEdit.province}}</ui-select-match>
                  <ui-select-choices repeat="province in provinces | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{province.type}}
                  </ui-select-choices>
                </ui-select>
          </div>

          <div class="small-4 column">
            <label>Postal Code: <small ng-messages="newUser.userPostalCode.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="userPostalCode" ng-model="userEdit.postal_code"/ required>
          </div>
        </div>

        <div class="row">

          <div class="small-4 column">
            <label>Phone: <small ng-messages="newUser.userPhone.$error"><b ng-message="required" class="error">Please only enter 10 digits</b>
                                                                        <b ng-message="pattern" class="error">Please only enter 10 digits</b><//small></label>
            <input type="text" name="userPhone" ng-model="userEdit.phone" required ng-pattern="/^\d{10}$/"/>
          </div>

          <div class="small-4 column">
            <label>Position:
              <input type="text" ng-model="userEdit.role" disabled value="Role" placeholder="Position" ng-if='userEdit.position == ""'>
              <input type="text" ng-model="userEdit.role" disabled value="Coach" placeholder="Coach" ng-if='userEdit.position == "Main Coach" || userEdit.position == "Assistant Coach"'>
              <input type="text" ng-model="userEdit.role" disabled value="Admin" placeholder="admin" ng-if='userEdit.position == "Qualifier Admin" || userEdit.position == "Super Admin"'>              
                <input type="text" ng-model="userEdit.role" disabled value="Coach" placeholder="coach" ng-if='userEdit.position.type == "Main Coach" || userEdit.position.type == "Assistant Coach"'>
              <input type="text" ng-model="userEdit.role" disabled value="Admin" placeholder="Admin" ng-if='userEdit.position.type == "Qualifier Admin" || userEdit.position.type == "Super Admin"'>
            </label>
          </div>

          <div class="small-4 column">

            <label>Role: <small ng-messages="newUser.userRole.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-change="setRole($select.selected.type)" ng-model="userEdit.position" theme="select2" ng-disabled="disabled" style="min-width: 200px;" name="userRole" required>
                  <ui-select-match placeholder="Select a position...">{{$select.selected.type || userEdit.position}}</ui-select-match>
                  <ui-select-choices repeat="position in positions | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{position.type}}
                  </ui-select-choices>
                </ui-select>
            
          </div>         

        </div>

          <div class="row">

            <div class="small-3 column">

              <label>Gender: <small ng-messages="newUser.userGender.$error"><b ng-message="required" class="error">Required</b></small></label>
                  <input type="radio" name="userGender" value="Male" ng-model="userEdit.gender" required>Male   
                  <input type="radio" name="userGender" value="Female" ng-model="userEdit.gender" required>Female   
                  <input type="radio" name="userGender" value="Other" ng-model="userEdit.gender" required>Other
            
            </div>


            <div class="small-6 column">

              <label>Medical Info: </label>
                <textarea type='text' col='40' row='4' ng-model='userEdit.medical_info'></textarea>
            
            </div>


          </div>

<hr>
        <div class="row" >
          <alert ng-if="register_status.show_alert" type="register_status.alert_type" class="text-center">{{register_status.message}}</alert>
        </div>
        <div class="row">
          <div class="small-8 column">
            <button class="button postfix" ng-click="updateUser(userEdit)" ng-disabled="newUser.$invalid">Save</button>
          </div>

        </div>
      </fieldset>
    </form>
 <hr>
                    </script>

            </td>


            <td title="'Role'">
                <button class="tiny round button" ng-click='openRole(user)'>Edit</button>
          <script type="text/ng-template" id="role.html">
              <div class="modal-body">
                  <fieldset>
                  <legend>Edit Role for {{ userEdit.first_name }}</legend>
                    <form name="editRole"> 
                            <div class="row">

                                  <div class="small-6 column">

                                    <label>Role: <small ng-messages="editRole.userRole.$error"><b ng-message="required" class="error">Required</b></small></label>
                                        <ui-select ng-model="userEdit.position" theme="select2" ng-disabled="disabled" style="min-width: 200px;" name="userRole" required>
                                          <ui-select-match placeholder="Select a position...">{{$select.selected.type || userEdit.position}}</ui-select-match>
                                          <ui-select-choices repeat="position in positions | propsFilter: {type: $select.search}">
                                            <div ng-bind-html="type | highlight: $select.search"></div>
                                              {{position.type}}
                                          </ui-select-choices>
                                        </ui-select>
                                    
                                  </div>  

                                <div class="small-6 column">
                                  <label>Shirt Size: <small ng-messages="editRole.userShirt.$error"><b ng-message="required" class="error">Required</b></small></label>
                                    <ui-select  ng-model="userEdit.shirt_size" theme="select2" ng-disabled="disabled" style="min-width: 150px;" name="userShirt" required>
                                      <ui-select-match placeholder="Select a shirt size...">{{$select.selected.type || userEdit.shirt_size}}</ui-select-match>
                                      <ui-select-choices repeat="shirt in shirts | propsFilter: {type: $select.search}">
                                        <div ng-bind-html="shirt.type | highlight: $select.search"></div>
                                          {{shirt.type}}
                                      </ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>

                    <hr>
                            <div class="row" >
                              <alert ng-if="register_status.show_alert" type="register_status.alert_type" class="text-center">{{register_status.message}}</alert>
                            </div>
                            <div class="row">
                              <div class="small-8 column">
                                <button class="button postfix" ng-click="updateUserRole(userEdit)" ng-disabled="editRole.$invalid">Save</button>
                              </div>

                            </div>
                          </fieldset>
                        </form>
                     <hr>
                    </script>

            </td>

            <td title="'Delete'">
                <button class="tiny round button alert" ng-click='deleteUser(user)' confirmation-needed>Delete</button></td>
        </tr>
    </table>
  </div>
</div>