<div class='row' style="min-width: 80%" ng-controller="volunteers_signup_controller">
<fieldset>
  <legend> Signup as a volunteer </legend>
  <!-- <small> thanks! </small> -->
<div class="row">
  
   <form name="newVolunteerSignup"> 
      <fieldset>
        <legend>Basic Information</legend>
        <div class="row">

          <div class="small-2 column">
             <label>First Name: <small ng-messages="newVolunteerSignup.volunteerFirstName.$error"><b ng-message="required" class="error">Required</b></small></label>
              <input type="text" name="volunteerFirstName" ng-model="volunteer_signup.first_name" required />
          </div>

          <div class="small-2 column">
            <label>Last Name: <small ng-messages="newVolunteerSignup.volunteerLastName.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="volunteerLastName" ng-model="volunteer_signup.last_name" required />
          </div>

          <div class="small-2 column">
            <label>Email: <small ng-messages="newVolunteerSignup.volunteerEmail.$error"><b ng-message="required" class="error">Required</b><b ng-message="email" class="error">Email is not valid</b></small></label>
            <input type="email" name="volunteerEmail" ng-model="volunteer_signup.email" required />
          </div>
          <div class="small-2 column">
            <label>DOB: <small ng-messages="newVolunteerSignup.volunteerDOB.$error"><b ng-message="required" class="error">Please select a DOB</b></small></label>
            <datepicker date-format="longDate">
               <input name="volunteerDOB" ng-model="volunteer_signup.dob" type="text" required readonly/>
            </datepicker>
          </div>
          <div class="small-2 column">
            <label>Phone: <small ng-messages="newVolunteerSignup.volunteerPhone.$error"><b ng-message="required" class="error">Required</b>
            <b ng-message="pattern" class="error">Please only a valid phone number</b></small></label>
            <input type="text" name="volunteerPhone" ng-model="volunteer_signup.phone"  ng-pattern="phoneNumberPattern"/>
          </div>
          <div class="small-2 column">

              <label>Gender: <small ng-messages="newVolunteerSignup.volunteerGender.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="volunteer_signup.gender" theme="select2" ng-disabled="disabled" style="min-width: 150px;" name="volunteerGender" required>
                  <ui-select-match placeholder="Select a gender...">{{$select.selected.type}}</ui-select-match>
                  <ui-select-choices repeat="gender in genders | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{gender.type}}
                  </ui-select-choices>
                </ui-select>
            
            </div>

        </div>

        <div class="row">
          <div class="small-2 column">
            <label>Civic Address: <small ng-messages="newVolunteerSignup.volunteerCivic.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="volunteerCivic" ng-model="volunteer_signup.civic_number"  />
          </div>

          <div class="small-2 column">
            <label>Street Address: <small ng-messages="newVolunteerSignup.volunteerStreet1.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="volunteerStreet1" ng-model="volunteer_signup.street1" />
          </div>

          <div class="small-2 column">
            <label>Street Address:
            <input type="text" name="volunteerStreet2" ng-model="volunteer_signup.street2"/>
          </div>
          <div class="small-2 column">
            <label>City: <small ng-messages="newVolunteerSignup.volunteerCity.$error"><b ng-message="required" class="error">Required</b></small></label>
            <input type="text" name="volunteerCity" ng-model="volunteer_signup.city"  />
          </div>
          <div class="small-2 column">
            <label>Postal Code: <small ng-messages="newVolunteerSignup.volunteerPostalCode.$error"><b ng-message="required" class="error">Required</b>
            <b ng-message="pattern" class="error">Please enter a valid postal code </b></small></label>

            <input type="text" name="volunteerPostalCode" ng-model="volunteer_signup.postal_code"  ng-pattern="/^([a-zA-Z]\d[a-zA-Z] *\d[a-zA-Z]\d)$/">
          </div>
          <div class="small-2 column">
            <label>Province: <small ng-messages="newVolunteerSignup.volunteerProvince.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="volunteer_signup.province" theme="select2" ng-disabled="disabled" style="min-width: 200px;" name="volunteerProvince" >
                  <ui-select-match placeholder="Select a province...">{{$select.selected.type}}</ui-select-match>
                  <ui-select-choices repeat="province in provinces | propsFilter: {type: $select.search}">
                    <div ng-bind-html="type | highlight: $select.search"></div>
                      {{province.type}}
                  </ui-select-choices>
                </ui-select>
          </div>
        </div>
        <div class="row">   
          <div class="small-2 column">

            <label>Shirt Size: <small ng-messages="newVolunteerSignup.volunteerShirt.$error"><b ng-message="required" class="error">Required</b></small></label>
              <ui-select ng-model="volunteer_signup.shirt_size" theme="select2" ng-disabled="disabled" style="min-width: 150px;" name="volunteerShirt" required>
                <ui-select-match placeholder="Select a shirt size...">{{$select.selected.type}}</ui-select-match>
                <ui-select-choices repeat="shirt in shirts | propsFilter: {type: $select.search}">
                  <div ng-bind-html="type | highlight: $select.search"></div>
                    {{shirt.type}}
                </ui-select-choices>
              </ui-select>
          </div>

          <div class="small-4 column">

            <label>Medical Info & notes: </label>
              <textarea type='text' col='40' row='5' ng-model='volunteer.medical_info'></textarea>
          
          </div>
          <div class="small-6 column">
          </div>

        </div>
      </fieldset>
<hr>  <fieldset>
        <legend>Volunteering Information <small><b class="error">Required</b></small></legend>
        <div class="row" >
          <div class="small-6 column">
            <label>Season: <small ng-messages="newVolunteerSignup.season_year.$error"><b ng-message="required" class="error">Required</b></small></label>
                <ui-select ng-model="season.year" theme="select2" ng-disabled="disabled" style="min-width: 350px;" name="volunteerYear" required>
                  <ui-select-match placeholder="Select a season..."><b>Year: </b>{{$select.selected.year}} </ui-select-match>
                  <ui-select-choices repeat="season in seasons ">
                    <div ng-bind-html="year | highlight: $select.search"></div>
                      <b>Season Year: </b>{{season.year}} 
                  </ui-select-choices>
                </ui-select>
          </div>
          
          <div class="small-6 column" ng-controller='qualifiers_controller'>
            <label>Qualifiers: <small ng-messages="editSignup.qualifiers.$error"><b ng-message="required" class="error">Required</b></small></label>
            <ui-select ng-model="volunteerSignupEdit.qualifier" theme="select2" ng-disabled="disabled" style="min-width: 400px;" name="qualifiers" required>
              <ui-select-match placeholder="Select a qualifier"><b>Year:</b> {{$select.selected.season_year}} <b>Name:</b> {{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="qualifier in openQualifiers | open">
                <div ng-bind-html="qualifier.season_year | highlight: $select.search"></div>
                  <b>Year:</b> {{qualifier.season_year}} <b>Name:</b> {{qualifier.name}}<hr>
              </ui-select-choices>                    
            </ui-select>
          </div> 
        </div>
        <hr>
        <div class="row" > 
          <div class="small-6 columns">
            <label for="affiliation">Affiliation <small ng-messages="volunteerPositionsEdit.affilication.$error"><b ng-message="required" class="error">Required</b></small></label>

              <input type="radio" name="affiliation" value="general" ng-model="volunteerPositionsEdit.affiliation"  >General
              <input type="radio" name="affiliation" value="fll general" ng-model="volunteerPositionsEdit.affiliation" >FLL General
              <input type="radio" name="affiliation" value="fll" ng-model="volunteerPositionsEdit.affiliation" >FLL
              <input type="radio" name="affiliation" value="robofest general" ng-model="volunteerPositionsEdit.affiliation" >Robofest General
              <input type="radio" name="affiliation" value="robofest" ng-model="volunteerPositionsEdit.affiliation" >Robofest
          </div>
          <div class="small-6 column" >
            <label>Positions: <small ng-messages="editPositions.positions.$error"><b ng-message="required" class="error">Required</b></small></label>
            <ui-select ng-model="volunteerPositionsEdit.position" theme="select2" ng-disabled="disabled" style="min-width: 400px;" name="positions" required>
              <ui-select-match placeholder="Select a position"><b>Position:</b> {{$select.selected.position}} </ui-select-match>
              <ui-select-choices change="getVolunteerPositions()" repeat="position in volunteerPositions | match: {voul: volunteerPositionsEdit, pos: volunteerPositions}">
                <div ng-bind-html="position.position | highlight: $select.search" ></div>
                  <b>Position:</b> {{position.position}} <hr>
              </ui-select-choices>                    
            </ui-select>
          </div>
        </div>
        </fieldset>
<hr>
      
        <div class="row">
          <div class="small-8 column">
            <button class="button postfix" ng-click="signupNewVolunteer(volunteer_signup, volunteerSignupEdit.qualifier, volunteerPositionsEdit.position)" ng-disabled="newVolunteerSignup.$invalid">Register</button>
          </div>

        </div>
    </form>
</div>
</fieldset>
</div>